# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/

# Environment Variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Database
*.db

# Logs
logs/

# Processed exports
data/processed/

# Databases
database/*.db

# CSV exports
*.csv